INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
dcaf_config.h*
config.*
configure
libdcaf-*.tar.bz2
missing
stamp-h1
depcomp
compile
install-sh

libdcaf.a
*.o
src/.dirstamp
src/.libs/
*~
core
.deps/
.dirstamp

doc/Doxyfile
doc/Makefile.in
doc/doxyfile.stamp
doc/doxygen_sqlite3.db
doc/html/

libtool
ltmain.sh
TAGS

am/dcaf-am
